#container{
	width: 1002px;
	height: 600px;
	margin: 0 auto;
}
#head{
	background-color: #DDDDDD;
	height: 80px;
}
#title{
	font:  bolder 30px/30px sans-serif;
	margin: 20px 0 0 30px;
	float: left;
}
#title span{
	color: red;
}
#main{
	background: url("../images/adminPageBackground.jpg" ) no-repeat;
	background-position: center;
	background-size: 1002px 600px;
	height: 520px;
}
#left{
	width: 150px;
	height: 520px;
	float: left;
}
#up{
	height: 180px;
	background-color: #FFFFFF;
}
#up ul{
	position: relative;
	top: 20px;
	left: 5px;
}
#up li{
	margin-bottom: 5px;
}
#up span{
	font-size: 20px;
	color: #FFCC33;
}
#right1{
	width: 852px;
	height: 520px;
	float: left;
}
#changePassword{
	width: 300px;
	height: 150px;
	border: 1px solid #FFFFFF;
	position: relative;
	top: 100px;
	left: 200px;
}
.setPass{
	margin: 10px 0 10px 0;
}
.intro{
	font: bold 12px/12px serif;
}
.PASSWD{
	height: 20px;
	width: 150px;
}
#right2{
	width: 852px;
	height: 520px;
	float: left;
}
.createAccount{
	width: 260px;
	height: 500px;
	border: 5px solid #CCCC33;
	margin: 5px;
	float: left;
}
.createAccount h1{
	font: bolder 30px/30px "Times New Roman",serif;
	text-align: center;
	color: #990000;
}
.addAccount{
	width: 200px;
	position: relative;
	top: 80px;
	left: 20px;
	border: 2px solid #DDDDDD;
}
.addAccount li{
	margin: 5px;
}
.modifyPassword{
	width: 200px;
	position: relative;
	top: 160px;
	left: 20px;
	border: 2px solid #DDDDDD;
}
.modifyPassword div{
	margin: 2px;
}
.modifyPassword span{
	font: bolder 12px/12px serif;
	color: #FFCC00;
}