<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
	<title>Admin</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0-rc.1/angular.min.js"></script>
	<link rel="stylesheet" href="/css/adminPage.css" />
	<link rel="stylesheet" href="/css/reset.css" />
</head>
    <body ng-app="myApp">
    	<div id="container" ng-controller="DemoController as demo">
    		<script>
    			var app=angular.module('myApp', []);

    			app.config(function($interpolateProvider) {
    				$interpolateProvider.startSymbol('//');
    				$interpolateProvider.endSymbol('//');
  			});

    			app.controller('DemoController', function($scope){
    				$scope.right1=true;
    				$scope.right2=false;
                     $scope.right3=false;
                     $scope.right4=false;
    				$scope.basicInfo=function(){
    					$scope.right1=true;
    					$scope.right2=false;
                          $scope.right3=false;
                          $scope.right4=false;
    				}
    				$scope.addAccount=function(){
    					$scope.right1=false;
    					$scope.right2=true;
                          $scope.right3=false;
                          $scope.right4=false;
    				}
                    $scope.deleteAccount=function(){
                          $scope.right1=false;
                          $scope.right2=false;
                          $scope.right3=true;
                          $scope.right4=false;
                    }
                    $scope.modifyCourse=function(){
                          $scope.right1=false;
                          $scope.right2=false;
                          $scope.right3=false;
                          $scope.right4=true;
                    }

    				$scope.mess='Passwords are not the same';
    				$scope.message=false;
    				$scope.passwd=[
    					{'origin': ''},
    					{'new1': ''},
    					{'new2': ''}
    				];
    				$scope.comparePass=function(){
    					if($scope.passwd.new1==$scope.passwd.new2)
    						$scope.message=false;
    					else{
    						$scope.message=true;
    					}
    				}
    				$scope.$watch('passwd.new1', $scope.comparePass);
    				$scope.$watch('passwd.new2', $scope.comparePass);

    				//for creating administer account
    				$scope.message1="Passwords are not the same"
    				$scope.comparePass=function(){
    					if($scope.newPassword11==$scope.newPassword12)
    						$scope.mess1=false;
    					else{
    						$scope.mess1=true;
    					}
    				}
    				$scope.$watch('newPassword11', $scope.comparePass);
    				$scope.$watch('newPassword12', $scope.comparePass);

                                          var courses=[];
                                          for(var i=0; i<{{courseList|safe}}.length; i++){
                                                    courses.push({{courseList|safe}}[i]);
                                          }
                                          $scope.courses=courses;

                                          //modifying administer's password
                                          $scope.notice1="Passwords are not the same"
                                          $scope.comparePass=function(){
                                                if($scope.pass11==$scope.pass12)
                                                        $scope.NOTICE1=false;
                                                else{
                                                        $scope.NOTICE1=true;
                                                }
                                          }
                                          $scope.$watch('pass11', $scope.comparePass);
                                          $scope.$watch('pass12', $scope.comparePass);

                                          var adminers=[];
                                          for(var i=0; i<{{adminerList|safe}}.length; i++){
                                                adminers.push({{adminerList|safe}}[i]);
                                          }
                                          $scope.adminers=adminers;

                                          // modifying teacher's password
                                          $scope.notice2="Passwords are not the same"
                                          $scope.comparePass=function(){
                                                if($scope.pass21==$scope.pass22)
                                                        $scope.NOTICE2=false;
                                                else{
                                                        $scope.NOTICE2=true;
                                                }
                                          }
                                          $scope.$watch('pass21', $scope.comparePass);
                                          $scope.$watch('pass22', $scope.comparePass);

                                          var teachers=[];
                                          for(var i=0; i<{{teacherList|safe}}.length; i++){
                                            teachers.push({{teacherList|safe}}[i]);
                                          }
                                          $scope.teachers=teachers;

                                          // modifying student's password
                                          $scope.notice3="Passwords are not the same"
                                          $scope.comparePass=function(){
                                                if($scope.pass31==$scope.pass32)
                                                        $scope.NOTICE3=false;
                                                else{
                                                        $scope.NOTICE3=true;
                                                }
                                          }
                                          $scope.$watch('pass31', $scope.comparePass);
                                          $scope.$watch('pass32', $scope.comparePass);

                                          var students=[];
                                          for(var i=0; i<{{studentList|safe}}.length; i++){
                                            students.push({{studentList|safe}}[i]);
                                          }
                                          $scope.students=students;
    			});
    		</script>
    		<div id="head">
    			<p id="title"><span>UW</span>innipeg</p>
    		</div>
    		<div id="main">
    			<div id="left">
    				<div id="up">
    					<ul>
    						<li><span>{{username}}</span></li>
    						<li class="nav">
    							<button ng-click="basicInfo()">Basic Information</button>
    						</li>
    						<li class="nav">
    							<button ng-click="addAccount()">Add Account</button>
    						</li>
                               <li class="nav">
                                    <button ng-click="deleteAccount()">Delete Account</button>
                               </li>
                               <li class="nav">
                                    <button ng-click="modifyCourse()">Modify Course</button>
                               </li>
    					</ul>
    				</div>
    			</div>
    			<div id="right1" ng-show="right1">
    				<div id="changePassword">
    					<form action="/changePasswd/" name="changePasswd" method="POST">
    						{% csrf_token %}
    						<div ng-show='message'>//mess//</div>
    						{{MESSAGE}}
    						<div class="setPass">
    							<span class="intro">Original Password: </span>
    							<input type="password"  class="PASSWD" name="originPasswd" ng-model="passwd.origin" placeholder="Original Password" required />
    						</div>
    						<div class="setPass">
    							<span class="intro">New Password: </span>
    							<input type="password"  class="PASSWD" name="newpasswd1" ng-model="passwd.new1" placeholder="new Password" required />
    						</div>
    						<div class="setPass">
    							<span class="intro">New Password Again: </span>
    							<input type="password"  class="PASSWD" name="newpasswd2" ng-model="passwd.new2" placeholder="new Password Again" required />
    						</div>
    						<input type="hidden" name="username" value="{{username}}" />
    						<div class="setPass">
    							<input type="submit" value="Submit" />
    						</div>
    					</form>
    				</div>
    			</div>
    			<div id="right2" ng-show="right2">
    				<div class="createAccount">
    					<h1>Administer</h1>
    					<!-- add account -->
    					<div class="addAccount">
    						<form action="/addAccount1/" method="POST">
    							{% csrf_token %}
    							<ul>
								<div ng-show="mess1">//message1//</div>
								{{MESSAGE1}}
    								<li>
    									<input type="email" placeholder="email" name="administerName" required />
    								</li>
    								<li>
    									<input type="password" name="newPassword11" ng-model="newPassword11" placeholder="password" required />
    								</li>
    								<li>
    									<input type="password" name="newPassword12" ng-model="newPassword12" placeholder="password" required />
    								</li>
    								<input type="hidden" name="username" value="{{username}}" />
    								<li>
    									<input type="submit" value="Submit" />
    								</li>
    							</ul>
    						</form>
    					</div>

                          <div class="modifyPassword">
                                <form action="/modifyPassword1/" method="POST">
                                     {% csrf_token %}
                                     <div ng-show="NOTICE1">//notice1//</div>
                                     <div>
                                          <span>username:</span>
                                          <select name="user1">
                                                <option value="//adminer//" ng-repeat="adminer in adminers">
                                                    //adminer//
                                                </option>
                                          </select>
                                     </div>
                                     <div>
                                           <input type="password" placeholder="New Password" ng-model="pass11" name="pass11" />
                                     </div>
                                     <div>
                                           <input type="password" placeholder="New Password again" ng-model="pass12" name="pass12" />
                                     </div>
                                     <input type="hidden" name="username" value="{{username}}" />
                                      <input type="submit" value="Submit" />
                                  </form>
                               </div>
    				</div>
    				<div class="createAccount">
    					<h1>Teacher</h1>
                          <div class="addAccount">
    					           <form action="/addAccount2/" method="POST">
                                               {% csrf_token %}
                                               <input type="hidden" name="username" value="{{username}}" />
                                               <ul>
                                                          {{MESSAGE2}}
                                                          <li>
                                                                    <input type="text" placeholder="Teacher Id" name="TeacherId" required />
                                                          </li>
                                                           <li>
                                                                     <input type="text" placeholder="Teacher Name" name="TeacherName" required />
                                                           </li>
                                                            <li>
                                                                       <select name="courseName">
                                                                                   <option value="//course//" ng-repeat="course in courses">
                                                                                              //course//
                                                                                   </option>
                                                                        </select>
                                                            </li>
                                                            <li>
                                                                      <input type="password" placeholder="password" name="teacherPassword" required />
                                                            </li>
                                                            <input type="hidden" name="username" value="{{username}}" />
                                                            <li>
                                                                        <input type="submit" value="submit" />
                                                            </li>
                                                 </ul>
                                       </form>
                           </div>

                            <div class="modifyPassword">
                                          <form action="/modifyPassword2/" method="POST">
                                                     {% csrf_token %}
                                                     <div ng-show="NOTICE2">//notice2//</div>
                                                     <div>
                                                               <span>username:</span>
                                                               <select name="user2">
                                                                         <option value="//teacher//" ng-repeat="teacher in teachers">
                                                                                    //teacher//
                                                                          </option>
                                                                </select>
                                                     </div>
                                                    <div>
                                                               <input type="password" placeholder="New Password" ng-model="pass21" name="pass21" />
                                                    </div>
                                                    <div>
                                                               <input type="password" placeholder="New Password again" ng-model="pass22" name="pass22" />
                                                     </div>
                                                     <input type="hidden" name="username" value="{{username}}" />
                                                    <input type="submit" value="Submit" />
                                          </form>
                                </div>
    				</div>
                     <div class="createAccount">
                                 <h1>Student</h1>
                                 <div class="addAccount">
                                           <form action="/addAccount3/" method="POST">
                                                     {% csrf_token %}
                                                     <ul>
                                                               {{MESSAGE3}}
                                                               <li>
                                                                         <input type="text" placeholder="student Id" name="studentId" required />
                                                               </li>
                                                               <li>
                                                                         <input type="text" placeholder="student Name" name="studentName" required />
                                                               </li>
                                                               <li>
                                                                         <select name="courseName">
                                                                                    <option value="//course//" ng-repeat="course in courses">
                                                                                              //course//
                                                                                    </option>
                                                                         </select>
                                                               </li>
                                                               <li>
                                                                         <input type="password" placeholder="password" name="studentPassword" required />
                                                               </li>
                                                               <input type="hidden" name="username" value="{{username}}" />
                                                               <li>
                                                                         <input type="submit" value="submit" />
                                                               </li>
                                                    </ul>
                                          </form>
                               </div>

                                <div class="modifyPassword">
                                          <form action="/modifyPassword3/" method="POST">
                                                    {% csrf_token %}
                                                    <div ng-show="NOTICE3">//notice3//</div>
                                                    <div>
                                                               <span>username:</span>
                                                               <select name="user3">
                                                                          <option value="//student//" ng-repeat="student in students">
                                                                                    //student//
                                                                         </option>
                                                               </select>
                                                    </div>
                                                    <div>
                                                               <input type="password" placeholder="New Password" ng-model="pass31" name="pass31" />
                                                     </div>
                                                     <div>
                                                               <input type="password" placeholder="New Password again" ng-model="pass32" name="pass32" />
                                                     </div>
                                                     <input type="hidden" name="username" value="{{username}}" />
                                                    <input type="submit" value="Submit" />
                                          </form>
                                </div>
                     </div>
    			</div>

                <!-- Delete Account Page -->
                <div id="right3" ng-show="right3">
                    <div class="delete">
                          <h1>Administer</h1>
                          <div class="deleteAccount">
                                <form action="/deleteAdmin/" method="POST">
                                      {% csrf_token %}
                                      <div>
                                                 <span>username:</span>
                                                 <select name="user1">
                                                          <option value="//adminer//" ng-repeat="adminer in adminers">
                                                                  //adminer//
                                                          </option>
                                                  </select>
                                        </div>
                                        <input type="hidden" name="username" value="{{username}}" />
                                        <div>
                                                  <input type="submit" value="Submit" />
                                        </div>
                                </form>
                          </div>
                    </div>
                    <div class="delete">
                          <h1>Teacher</h1>
                          <div class="deleteAccount">
                                <form action="/deleteTeacher/" method="POST">
                                        {% csrf_token %}
                                        <div>
                                                 <span>username:</span>
                                                 <select name="user2">
                                                          <option value="//teacher//" ng-repeat="teacher in teachers">
                                                                  //teacher//
                                                          </option>
                                                  </select>

                                        </div>
                                        <input type="hidden" name="username" value="{{username}}" />
                                        <div>
                                                  <input type="submit" value="Submit" />
                                        </div>
                                </form>
                          </div>
                    </div>
                    <div class="delete">
                          <h1>Student</h1>
                          <div class="deleteAccount">
                                <form action="/deleteStudent/" method="POST">
                                        {% csrf_token %}
                                        <div>
                                                 <span>username:</span>
                                                 <select name="user3">
                                                          <option value="//student//" ng-repeat="student in students">
                                                                  //student//
                                                          </option>
                                                  </select>

                                        </div>
                                        <input type="hidden" name="username" value="{{username}}" />
                                        <div>
                                                  <input type="submit" value="Submit" />
                                        </div>
                                </form>
                          </div>
                    </div>
                </div>
                
                <!-- Modify Course Page -->
                <div id="right4" ng-show="right4">
                      <div class="modify1">
                            <h1>Add Course</h1>
                            <div class="modifyCourses">
                                  <form action="/modifyCourse1/" method="POST">
                                        {% csrf_token %}
                                        {{MESSAGE1}}
                                        <div>
                                              <span>Course Name:</span>
                                              <input type="text" name="courseName" placeholder="course name" required />
                                        </div>
                                        <div>
                                              <span>Course Credit:</span>
                                              <input type="number" name="courseCredit" placeholder="course credit" min=0 max=6 required />
                                        </div>
                                        <div>
                                              <span>Course Hour:</span>
                                              <input type="number" name="courseHour" placeholder="course hour" min=0 required />
                                        </div>
                                        <div>
                                              <span>Course Start:</span>
                                              <input type="datetime" name="courseStart" placeholder="datetime" required  />
                                        </div>
                                        <div>
                                              <span>Course People:</span>
                                              <input type="number" name="coursePeople" placeholder="course people" min=0 default="0" required />
                                        </div>
                                        <input type="hidden" name="username" value="{{username}}" />
                                        <div>
                                              <input type="submit" value="Submit" />
                                        </div>
                                  </form>
                            </div>
                            
                      </div>
                      <div class="modify2">
                            <h1>Modify Course</h1>
                            <div class="modifyCourses">
                                  <form action="/modifyCourse2/" method="POST">
                                        {% csrf_token %}
                                        <p>modify course</p>
                                        <div>
                                              <span>course name:</span>
                                              <select name="courseName">
                                                      <option value="//course//" ng-repeat="course in courses">
                                                             //course//
                                                      </option>
                                              </select>
                                        </div>
                                        <input type="hidden" name="username" value="{{username}}" />
                                        <div>
                                              <input type="submit" value="Submit" />
                                        </div>
                                  </form>
                            </div>

                            <div id="showCoursedetail">
                                  <form action="/modifyCourse21/" method="POST">
                                        {% csrf_token %}
                                        <div>
                                              <span>Course Name:</span>
                                              <input type="text" value="{{course.courseName}}" name="courseName" readonly="readonly" />
                                        </div>
                                        <div>
                                              <span>Course Credit:</span>
                                              <input type="number" name="courseCredit" placeholder="course credit" value="{{course.courseCredit}}" min=0 max=6 required />
                                        </div>
                                        <div>
                                              <span>Course Hour:</span>
                                              <input type="number" name="courseHour" placeholder="course hour" value="{{course.courseHour}}" min=0 required />
                                        </div>
                                        <div>
                                              <span>Course Start:</span>
                                              <input type="datetime" name="courseStart" placeholder="datetime" value="{{course.courseStart|date:"Y-m-d H:i"}}" required  />
                                        </div>
                                        <div>
                                              <span>Course People:</span>
                                              <input type="number" name="coursePeople" placeholder="course people" value="{{course.coursePeople}}" min=0 default="0" required />
                                        </div>
                                        <input type="hidden" name="username" value="{{username}}" />
                                        <div>
                                              <input type="submit" value="Submit" />
                                        </div>
                                  </form>  
                            </div>

                            <div id="deleteCourse">
                                  <form action="/deleteCourse/" method="POST">
                                        {% csrf_token %}
                                        <h1>delete course</h1>
                                        <div>
                                              <span>course name:</span>
                                              <select name="courseName">
                                                      <option value="//course//" ng-repeat="course in courses">
                                                             //course//
                                                      </option>
                                              </select>
                                        </div>
                                        <input type="hidden" name="username" value="{{username}}" />
                                        <div>
                                              <input type="submit" value="Submit" />
                                        </div>
                                  </form>
                            </div>
                      </div>
                </div>
    		</div>
    	</div>
    </body>
</html>