<!doctype html>
<html lang="en">
<head>
	<title>Student Manager</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0-rc.1/angular.min.js"></script>
	<link rel="stylesheet" href="/css/MainPage.css" />
	<link rel="stylesheet" href="/css/reset.css" />
</head>
    <body  ng-app="myApp">
    	<div id="container">
    		<script>
  			var app = angular.module('myApp', []);

  			app.config(function($interpolateProvider) {
    				$interpolateProvider.startSymbol('//');
    				$interpolateProvider.endSymbol('//');
  			});

			app.controller('DemoController', function($scope) {

				$scope.middle1=true;
				$scope.middle2=false;
				$scope.logIn=function(){
					$scope.middle1=true;
					$scope.middle2=false;
				};
				$scope.master=function(){
					$scope.middle1=false;
					$scope.middle2=true;
				};
			});
		</script>
    		<div id="main" ng-controller="DemoController as demo">
    			<div id="head">
    				<p id="title"><span>UW</span>innipeg</p>
    				<button class="nav" id="loginButton" ng-click="logIn()">Log In</button>
    				<button class="nav" ng-click="master()">Master</button>
    			</div>
    			<div id="middle1" ng-show="middle1">
    				<div class="middle-form">
    					<form action="/mainpage1/" method="POST" >
    						{% csrf_token %}
    						<h1>Student/Teacher Login Page</h1>
    						<br />
    						{{form1.username}}
    						{{form1.passwd}}
                                                              {{form1.rank}}
    						<br />
    						<input type="submit" value=" Log in" size="15" />
    					</form>
    				</div>
    			</div>
    			<div id="middle2" ng-show="middle2">
    				<div class="middle-form">
    					<form action="/mainpage/" method="POST" >
    						{% csrf_token %}
						<h1>System Administer Login Page</h1>
						<br />
    						{{form.username}}
    						{{form.passwd}}
    						<br />
    						<input type="submit" value=" Log in" size="15" />
    					</form>
    				</div>
    			</div>
    			<div id="foot"></div>
    		</div>
    	</div>
    </body>
</html>