<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
<title>Student Manager</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="布尔教育 http://www.itbool.com" />
<script src="/scripts/angular.js"></script>
<link rel="stylesheet" href="/css/MainPage.css" />
<link rel="stylesheet" href="/css/reset.css" />
</head>
    <body>
    	<div id="container" ng-app="myApp">
    		<div id="main" ng-controller="Controller">
    			<div id="head">
    				<p id="title"><span>UW</span>innipeg</p>
    				<div class="nav" id="loginButton" log-in>Log In</div>
    				<div class="nav" main-menu>Main Menu</div>
    				<div class="nav" my-comments>Comments</div>
    				<div class="nav" contact-us>Contact Us</div>
    			</div>
    			<div id="middle"></div>
    			<div id="foot"></div>
    		</div>
    	</div>
    </body>
</html>